@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = "Access Denied";
}

<div class="access-denied">
    <h4 class="title">ACCESS DENIED</h4>
    <a asp-controller="Home" asp-action="Index"><button class="btn">Back To Home</button></a>
</div>