<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Troll Market - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/styles/normalize.css" />
    <link rel="stylesheet" href="~/styles/font-awesome.css" />
    <link rel="stylesheet" href="~/styles/site.css" />
    <script src="~/scripts/jquery-3.6.0.js"></script>
</head>
<body class="main-body">
    @* <div class="loading">
        <svg viewBox="25 25 50 50" hidden>
            <circle r="20" cy="50" cx="50"></circle>
        </svg>
    </div> *@
    <main>
        <partial name="_Header">
        <partial name="_Navigation">
        <partial name="_Breadcrumb">
        @RenderBody()
    </main>
    
</body>
</html>