@{
    ViewData["Title"] = "HOME";
}

<div class="content-home neo-box">
    <h1>Selamat datang di Troll Market</h1>
    <p>Ini adalah market place yang tidak pernah ada promosi dan diskon.</p>
    <p>Karena ini hanya assignment buat kalian, jadi buat apa ada diskon.</p>
</div>
